*.jl.cov
*.jl.*.cov
*.jl.mem
*.vtu
*.vtk
*.pvtu
*.pvtk
*.pvd
examples/.ipynb_checkpoints/
docs/build/
docs/site/
docs/src/examples/
docs/src/tutorials/
*.DS_Store
/Manifest.toml
/test/coverage/Manifest.toml
/benchmark/Manifest.toml

LocalPreferences.toml
docs/LocalPreferences.toml
benchmark/tune.json
