language: julia

os:
  - linux
  - osx

julia:
  - 0.7
  - nightly

# matrix:
#   allow_failures:
#     - julia: nightly

branches:
  only:
    - master

notifications:
  email: false

# https://github.com/travis-ci/travis-ci/issues/4942 workaround
git:
  depth: 99999

after_success:
  - julia -e 'cd(Pkg.dir("JuAFEM")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
