html.theme--documenter-light body div#documenter nav.docs-sidebar a.docs-logo img,
html.theme--documenter-dark body div#documenter nav.docs-sidebar a.docs-logo img {
    max-height: 10rem;
}
div.docs-package-name {
    font-family: "JuliaMono";
    font-weight: normal !important;
    font-size: 1.7rem !important;
}
details.admonition.collapsible summary.admonition-header::before {
    content: "\f055";
}
details[open].admonition.collapsible summary.admonition-header::before {
    content: "\f056";
}
details.admonition.collapsible summary.admonition-header {
    list-style: none;
}
details.admonition.collapsible {
    background-color: inherit;
}
